@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) { }

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) { }

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { }

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) { }

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) { }

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) { }

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  padding: 125px 0 55px 0;
  background: main.$ColorTwo;

  & .container {
    display: flex;
    justify-content: space-between;

    & .left {
      display: flex;
      gap: 0 120px;

      & li {
        margin-bottom: 30px;

        & a {
          font-size: reset.toRem(20);
          color: main.$ColorFour;
          padding: 4px 20px;
          font-weight: 600;
          display: block;

          &:hover {
            color: main.$ColorSix;
          }
        }
      }
    }

    & .right {
      & ul {
        @include main.FlexCenCen;
        gap: 10px 45px;
        margin-bottom: 55px;

        & li a {
          display: block;
        }
      }
    }
  }

  & .developer {
    margin-top: 120px;
    text-align: center;
    color: #cfcfcf;
    font-size: reset.toRem(10);

    & a {
      color: #ffffff;
    }
  }
}

/*******
RESPONSIVO
*******/

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  footer {
    & .container {
      & .left {
        width: 80%;
        gap: 0;

        & .item {
          width: 33%;
          display: flex;
          justify-content: center;
        }
      }

      & .right {
        width: 20%;
        text-align: center;

        & .buttonType1 {
          display: inline-block;
        }
      }
    }
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  footer {
    padding: 50px 0 30px 0;

    & .container {
      & .left {
        width: 66%;

        & .item {
          width: 50%;

          &:nth-child(3) {
            display: none;
          }
        }
      }

      & .right {
        width: 33%;
      }
    }
  
    & .developer {
      margin-top: 30px;
    }
  }
  
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  footer {
    padding: 30px 0;

    & .container {
      flex-wrap: wrap;

      & .left {
        width: 100%;
        flex-wrap: wrap;
        gap:25px 0;

        & .item {
          width: 100%;
        }
      }

      & .right {
        width: 100%;

        & ul {
          margin-bottom: 25px;
        }
      }
    }
  }
  
}
